<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%- title %>
  <%- meta %>
  <%- link %>
  <%- styles %>
</head>

<body>
  <div id="react-root"><%- appString %></div>
  <script>
  <% if (typeof globaldata !== 'undefined' && globaldata) { %>
      window.__PRELOADED_STATE__GLOBAL_ = <%- globaldata %>
	<% } %>
   
    <% if (typeof pageJson !== 'undefined' && pageJson) { %>
      window.__PRELOADED_STATE__PAGEJSON_ = <%- pageJson %>
    <% } %>

  </script>

  <%- js %>
</body>

</html>